* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 20px;
  padding-bottom: 80px;
}
.header .moon_btn {
  display: none;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header nav div .ul_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header nav div .sun_btn {
  border-radius: 8px;
  padding: 5px 10px;
}
.header nav div .moon_btn {
  padding: 5px 10px;
  border-radius: 8px;
}
.header nav div .text_btn {
  border-radius: 12px;
  background: rgb(17, 24, 39);
  width: 120px;
  height: 30px;
}
.header nav div .text_btn h4 {
  color: #fff;
}

.header_cont {
  margin-top: 130px;
}
.header_cont h1 {
  color: rgb(17, 24, 39);
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -2%;
  text-align: left;
}
.header_cont p {
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.header_cont h4 {
  margin-top: 30px;
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.header_cont h3 {
  margin-top: 5px;
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.header_cont span {
  margin-top: 50px;
  display: flex;
  gap: 5px;
}
.header_cont span .svg {
  margin-top: 7px;
}

.header_about {
  display: flex;
}
.header_about .header_img img {
  margin-left: 180px;
  margin-top: 80px;
  width: 280px;
  height: 320px;
  box-shadow: 35px 40px 19px -1px rgba(190, 190, 190, 0.96);
  -webkit-box-shadow: 35px 40px 19px -1px rgba(190, 190, 190, 0.96);
  -moz-box-shadow: 35px 40px 19px -1px rgba(190, 190, 190, 0.96);
}

.section_one {
  padding-bottom: 50px;
  background: rgb(249, 250, 251);
}
.section_one h6 {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
.section_one .section_onein img {
  margin-top: 52px;
  width: 300px;
  height: 310px;
  box-shadow: -26px 39px 6px 7px rgba(226, 219, 219, 0.81);
  -webkit-box-shadow: -26px 39px 6px 7px rgba(190, 190, 190, 0.96);
  -moz-box-shadow: -26px 39px 6px 7px rgba(226, 219, 219, 0.81);
}

.section_oneon h3 {
  padding-top: 25px;
  color: rgb(17, 24, 39);
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -2%;
  text-align: left;
}
.section_oneon p {
  margin-top: 20px;
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.main_divone {
  display: flex;
  justify-content: space-between;
}

.section_two h6 {
  padding-top: 40px;
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
.section_two h4 {
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.content_img {
  margin-top: 48px;
}
.content_img .imgsMarquee img {
  margin: 30px;
}

.section_three h6 {
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
.section_three h4 {
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.section_three {
  padding-bottom: 100px;
  padding-top: 50px;
  background: rgb(249, 250, 251);
}
.section_three .section_threein {
  border-radius: 12px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
  background: rgb(255, 255, 255);
}
.section_three .section_threein .section_threeon {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section_three .section_threein .section_threeon h4 {
  padding: 40px;
  color: rgb(17, 24, 39);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.section_three .section_threein .section_threeon h3 {
  color: rgb(55, 65, 81);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.section_threeon2 {
  padding-bottom: 40px;
  margin-top: 50px;
  border-radius: 12px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
  background: rgb(255, 255, 255);
}
.section_threeon2 .section_threeuj {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section_threeon2 .section_threeuj h4 {
  color: rgb(17, 24, 39);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.section_threeon2 .section_threeuj h3 {
  color: rgb(55, 65, 81);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.section_threein2 {
  padding-bottom: 40px;
}

.section_four {
  margin-top: 50px;
  border-radius: 12px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
  background: rgb(255, 255, 255);
}
.section_four .section_fourin {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section_four .section_fourin h4 {
  color: rgb(17, 24, 39);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.section_four .section_fourin h3 {
  color: rgb(55, 65, 81);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.section_hk {
  padding-top: 40px;
  padding-bottom: 50px;
}

.section_five {
  padding-top: 100px;
  padding-bottom: 90px h6;
  padding-bottom-color: rgb(75, 85, 99);
  padding-bottom-font-family: Inter;
  padding-bottom-font-size: 14px;
  padding-bottom-font-weight: 500;
  padding-bottom-line-height: 20px;
  padding-bottom-letter-spacing: 0%;
}
.section_five h4 {
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.section_five .section_five2 {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.section_five .section_oi h3 {
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
.section_five .section_oi p {
  margin-top: 25px;
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.section_five .section_oi button {
  border: none;
  position: static;
  width: 79px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
  border-radius: 12px;
  background: rgb(229, 231, 235);
}
.section_five .section_oi button h6 {
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.section_five .section_oi span {
  display: flex;
  margin-top: 10px;
}
.section_five .section_oi span .btn3 {
  /* Tag */
  position: static;
  width: 120px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 8px;
}
.section_five .section_oi span .btn4 {
  /* Tag */
  position: static;
  width: 120px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 8px;
}
.section_five .section_oi span .btn5 {
  /* Tag */
  position: static;
  width: 120px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 8px;
}
.section_five .section_oi span .btn6 {
  /* Tag */
  position: static;
  width: 110px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 8;
  flex-grow: 0;
  margin: 0px 8px;
  border-radius: 12px;
  background: rgb(229, 231, 235);
}

.section_five3 {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
.section_five3 div h3 {
  /* Subtitle/Semi Bold - Desktop */
  color: rgb(17, 24, 39);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.section_five3 div p {
  margin-top: 25px;
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.section_five3 div span {
  display: flex;
  margin: 10px;
  gap: 10px;
}
.section_five3 div span button {
  border: none;
  position: static;
  width: 79px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
  border-radius: 12px;
  background: rgb(229, 231, 235);
}
.section_five3 div span button h6 {
  /* Body3/Medium - All */
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.section_five3 div span .btn3 {
  /* Tag */
  position: static;
  width: 120px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 8px;
}
.section_five3 div span .btn4 {
  /* Tag */
  position: static;
  width: 120px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 8px;
}
.section_five3 div span .btn5 {
  /* Tag */
  position: static;
  width: 120px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 8px;
}
.section_five3 div span .btn6 {
  /* Tag */
  position: static;
  width: 120px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 8px;
}

.section_five4 {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.section_five4 .section_fivert span button h6 {
  /* Body3/Medium - All */
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.section_five4 .section_five4in {
  padding-bottom: 90px;
}
.section_five4 h3 {
  /* Subtitle/Semi Bold - Desktop */
  color: rgb(17, 24, 39);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.section_five4 p {
  margin-top: 25px;
  /* Body2/Normal - All */
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.section_five4 span {
  display: flex;
  margin: 10px;
  gap: 10px;
}
.section_five4 span button {
  border: none;
  /* Tag */
  position: static;
  width: 79px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
  border-radius: 12px;
  background: rgb(229, 231, 235);
}
.section_five4 span .btn3 {
  /* Tag */
  position: static;
  width: 120px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 8px;
}
.section_five4 span .btn4 {
  /* Tag */
  position: static;
  width: 120px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 8px;
}
.section_five4 span .btn5 {
  /* Tag */
  position: static;
  width: 120px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 8px;
}
.section_five4 span .btn6 {
  /* Tag */
  position: static;
  width: 120px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 8px;
}

.section_six {
  background: rgb(249, 250, 251);
  padding-top: 98px;
}
.section_six center .btn_text {
  border: none;
  /* Tag */
  position: static;
  width: 125px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  border-radius: 12px;
  background: rgb(229, 231, 235);
}
.section_six center .btn_text h6 {
  /* Body3/Medium - All */
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.section_six center h4 {
  padding-top: 20px;
  /* Subtitle/Normal - Desktop */
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.section_six .section_sixon {
  margin-top: 50px;
  background-color: #fff;
  width: 370px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
  background: rgb(255, 255, 255);
}
.section_six .section_sixon p {
  display: flex;
  justify-content: center;
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.section_six .section_sixon h4 {
  margin-top: 25px;
  color: rgb(17, 24, 39);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.section_six .section_sixon h6 {
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.section_six .section_sixon img {
  margin-top: 48px;
  margin-bottom: 10px;
}

.section_sixin {
  display: flex;
  justify-content: space-around;
}

.section_sixuj {
  margin-top: 48px;
  background-color: #fff;
  width: 370px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
  background: rgb(255, 255, 255);
}
.section_sixuj img {
  margin-top: 48px;
  margin-bottom: 10px;
}
.section_sixuj p {
  display: flex;
  justify-content: center;
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}
.section_sixuj h3 {
  margin-top: 25px;
  color: rgb(17, 24, 39);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.section_sixuj h6 {
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

.section_sixtf {
  margin-bottom: 96px;
  margin-top: 48px;
  background-color: #fff;
  width: 370px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
  background: rgb(255, 255, 255);
}
.section_sixtf img {
  margin-top: 48px;
  margin-bottom: 10px;
}
.section_sixtf p {
  display: flex;
  justify-content: center;
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}
.section_sixtf h3 {
  margin-top: 25px;
  color: rgb(17, 24, 39);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.section_sixtf h6 {
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

footer {
  background: rgb(255, 255, 255);
  padding-top: 100px;
}
footer button {
  border: none;
  /* Tag */
  position: static;
  width: 122px;
  height: 28px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  border-radius: 12px;
  background: rgb(229, 231, 235);
}
footer button h6 {
  /* Body3/Medium - All */
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
footer p {
  margin-top: 16px;
  /* Subtitle/Normal - Desktop */
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
footer h2 {
  color: rgb(17, 24, 39);
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -2%;
  text-align: center;
}
footer .footer {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
footer .footer_two {
  margin-top: 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
}
footer .h6 {
  margin-top: 50px;
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}
footer .img {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

body.dark main h6 {
  /* Body3/Medium - All */
  color: rgb(209, 213, 219);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
body.dark .header {
  background: #000;
}
body.dark .sun_btn {
  display: none;
}
body.dark .moon_btn {
  display: block;
}
body.dark .header ul a li {
  color: #fff;
}
body.dark .header .header_about .header_cont h4 {
  color: rgb(209, 213, 219);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
body.dark .header .header_about .header_cont h3 {
  color: rgb(209, 213, 219);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
body.dark .header .header_about .header_cont h1 {
  color: rgb(249, 250, 251);
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -2%;
  text-align: left;
}
body.dark .header .header_about .header_cont p {
  color: rgb(209, 213, 219);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
body.dark .header .header_about .header_cont .header_img {
  box-shadow: none;
}
body.dark #start .text_btn {
  border-radius: 12px;
  background: rgb(249, 250, 251);
}
body.dark #start .text_btn h4 {
  padding-left: 12px;
  color: rgb(17, 24, 39);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
body.dark main .section_one {
  background: rgb(17, 24, 39);
}
body.dark main .section_one .main_divone .section_oneon h3 {
  color: rgb(249, 250, 251);
}
body.dark main .section_one .main_divone .section_oneon p {
  color: rgb(209, 213, 219);
}
body.dark main .section_two {
  background: rgb(3, 7, 18);
}
body.dark main .section_two h4 {
  color: rgb(209, 213, 219);
}
body.dark main .section_six {
  background: rgb(17, 24, 39);
}
body.dark main .section_six h4 {
  color: rgb(209, 213, 219);
}
body.dark .section_three {
  background: rgb(17, 24, 39);
}
body.dark .section_three h4 {
  color: rgb(209, 213, 219);
}
body.dark .section_three h3 {
  color: rgb(229, 231, 235);
}
body.dark .section_three .section_threein {
  background: rgb(31, 41, 55);
}
body.dark .section_three .section_threein .section_threeon h4 {
  color: rgb(249, 250, 251);
}
body.dark .section_three .section_threein .section_threeon h3 {
  color: rgb(229, 231, 235);
}
body.dark .section_three .section_threeon2 {
  background: rgb(31, 41, 55);
}
body.dark .section_three .section_four {
  background: rgb(31, 41, 55);
}
body.dark .section_five {
  padding: 96px 80px 96px 80px;
  background: rgb(3, 7, 18);
}
body.dark .section_five h4 {
  color: rgb(209, 213, 219);
}
body.dark .section_five h6 {
  color: rgb(209, 213, 219);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
body.dark .section_five .section_five2 .section_oi {
  /* Column */
  position: static;
  width: 576px;
  height: 480px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 48px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
  border-radius: 0px 12px 12px 0px;
  background: rgb(31, 41, 55);
}
body.dark .section_five .section_five2 .section_oi h3 {
  color: rgb(249, 250, 251);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
}
body.dark .section_five .section_five2 .section_oi span button {
  background: rgb(55, 65, 81);
}
body.dark .section_five .section_five2 .section_oi span button h6 {
  padding-top: 5px;
  color: rgb(209, 213, 219);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
body.dark .section_five .section_five2 .section_imgfive {
  /* Column */
  position: static;
  width: 576px;
  height: 480px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 48px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
  box-sizing: border-box;
  border-right: 1px solid rgb(31, 41, 55);
  border-radius: 12px 0px 0px 12px;
  background: rgb(55, 65, 81);
}
body.dark .section_five .section_five3 .img_uj {
  box-sizing: border-box;
  border-left: 1px solid rgb(31, 41, 55);
  border-radius: 0px 12px 12px 0px;
  background: rgb(55, 65, 81);
}
body.dark .section_five .section_five3 div {
  background: rgb(31, 41, 55);
  /* Column */
  position: static;
  width: 576px;
  height: 480px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 48px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
  border-radius: 12px 0px 0px 12px;
}
body.dark .section_five .section_five3 div h3 {
  color: rgb(249, 250, 251);
}
body.dark .section_five .section_five3 div span button {
  background: rgb(55, 65, 81);
}
body.dark .section_five .section_five3 div span button h6 {
  color: rgb(209, 213, 219);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
body.dark .section_five4 .section_five4in {
  box-sizing: border-box;
  border-right: 1px solid rgb(31, 41, 55);
  border-radius: 12px 0px 0px 12px;
  background: rgb(55, 65, 81);
  /* Column */
  position: static;
  width: 576px;
  height: 480px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 48px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
}
body.dark .section_five4 .section_fivert {
  /* Column */
  position: static;
  width: 576px;
  height: 480px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 48px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
  border-radius: 0px 12px 12px 0px;
  background: rgb(31, 41, 55);
}
body.dark .section_five4 .section_fivert h3 {
  color: rgb(249, 250, 251);
}
body.dark .section_five4 .section_fivert button {
  border-radius: 12px;
  background: rgb(55, 65, 81);
}
body.dark .section_five4 .section_fivert button h6 {
  color: rgb(209, 213, 219);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
body.dark footer {
  background: rgb(3, 7, 18);
}
body.dark footer .btn_fg {
  border-radius: 12px;
  background: rgb(55, 65, 81);
}
body.dark footer .btn_fg h6 {
  /* Body3/Medium - All */
  color: rgb(209, 213, 219);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
body.dark footer p {
  /* Subtitle/Normal - Desktop */
  color: rgb(209, 213, 219);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
body.dark footer h2 {
  color: rgb(249, 250, 251);
}
body.dark footer .h6 {
  color: rgb(209, 213, 219);
}
body.dark .section_six .section_sixin .section_sixon {
  border-radius: 12px;
  /* Drop Shadow/2xl */
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
  background: rgb(31, 41, 55);
}
body.dark .section_six .section_sixin .section_sixon h6 {
  color: rgb(209, 213, 219);
}
body.dark .section_six .section_sixin .section_sixon img {
  border-radius: 64px;
  background: rgb(156, 163, 175);
}
body.dark .section_six .section_sixin .section_sixon p {
  /* Body2/Normal - All */
  color: rgb(209, 213, 219);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
body.dark .section_six .section_sixin .section_sixuj {
  border-radius: 12px;
  /* Drop Shadow/2xl */
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
  background: rgb(31, 41, 55);
}
body.dark .section_six .section_sixin .section_sixuj h3 {
  color: rgb(249, 250, 251);
}
body.dark .section_six .section_sixin .section_sixuj img {
  border-radius: 64px;
  background: rgb(156, 163, 175);
}
body.dark .section_six .section_sixin .section_sixuj p {
  /* Body2/Normal - All */
  color: rgb(209, 213, 219);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
body.dark .section_six .section_sixin .section_sixuj h6 {
  color: rgb(209, 213, 219);
}
body.dark .section_six .section_sixin .section_sixtf {
  border-radius: 12px;
  /* Drop Shadow/2xl */
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
  background: rgb(31, 41, 55);
}
body.dark .section_six .section_sixin .section_sixtf h3 {
  color: rgb(249, 250, 251);
}
body.dark .section_six .section_sixin .section_sixtf h6 {
  color: rgb(209, 213, 219);
}
body.dark .section_six .section_sixin .section_sixtf img {
  border-radius: 64px;
  background: rgb(156, 163, 175);
}
body.dark .section_six .section_sixin .section_sixtf p {
  /* Body2/Normal - All */
  color: rgb(209, 213, 219);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

@media (max-width: 1025px) {
  .main_divone {
    flex-direction: column;
  }
  .section_five2 {
    flex-direction: column;
  }
  .section_five3 {
    flex-direction: column-reverse;
  }
  .section_five4 {
    flex-direction: column;
  }
}
@media (max-width: 535px) {
  header {
    display: none;
  }
  .section_imgfive {
    flex-direction: column;
  }
  .section_five2 img {
    max-width: 90%;
  }
  .img_uj img {
    max-width: 90%;
  }
}